<a href="https://colab.research.google.com/github/afizs/datacamp-pandas-foundations/blob/master/pandas_foundation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 

# Load CSV data  
df = pd.read_csv('https://raw.githubusercontent.com/afizs/datacamp-pandas-foundations/master/world_ind_pop_data.csv')

In [2]:
# Explore data frame 
print(df.head())

                               CountryName  ... Urban population (% of total)
0                               Arab World  ...                     31.285384
1                   Caribbean small states  ...                     31.597490
2           Central Europe and the Baltics  ...                     44.507921
3  East Asia & Pacific (all income levels)  ...                     22.471132
4    East Asia & Pacific (developing only)  ...                     16.917679

[5 rows x 5 columns]

In [3]:
df.tail()

                 CountryName  ... Urban population (% of total)
13369  Virgin Islands (U.S.)  ...                        95.203
13370     West Bank and Gaza  ...                        75.026
13371            Yemen, Rep.  ...                        34.027
13372                 Zambia  ...                        40.472
13373               Zimbabwe  ...                        32.501

[5 rows x 5 columns]